.home-page {
  .hero {
    min-height: 500px;
    padding: 5rem 0;
    text-align: center;
    // background-image: url(images/hero-bg@2x.png),linear-gradient(-180deg,#daeef9,rgba(218,238,249,0));
    background-repeat: no-repeat;
    background-position: top,0 0;
    background-size: 4000px 712px,cover;
    color: #8ca5b4;

    .hero-badge{
      width: 120px;
      height: 120px;
      border-radius: 5px;
    }

    h1{
      margin: 2.5rem 0 1.5rem 0;
      font-size: 3.625rem;
      color: #003659;
      font-weight: 800;
    }

    .intro{
      max-width: 500px;
      margin: .5rem auto 2rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }
}

.session-section-wrapper {
  max-width: 440px;
  margin: 50px auto;
}