#contact-page{
  padding-top: 60px;

  iframe{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;

    * {
      position: relative;
      z-index: 1;
    }

    &::after{
      content: '';
      width: 100%;
      height: 200px;
      display: block;
      background: #000;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
    }
  }
}