.welcome{
  position: relative;
}

.photograph{
  height: calc(100vh - 120px);
  background-color: #000;
  background-image: url(/beverage-breakfast-cafe-374147.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 80px 80px -80px rgba(0,0,0,0.25) inset, 0px -214px 214px -214px rgba(0,0,0,0.6) inset;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero{
  display: table;
  width: 100%;
  height: calc(100vh - 120px);
  padding-top: 60px;
  color: #FFF;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);

  .section{
    display: table-cell;
    vertical-align: middle;
    padding: 30px 120px;
    text-align: center;

    h1{
      line-height: 1.4;
      font-size: 3.2rem;
      font-weight: 300;
    }
    h3{
      line-height: 1.4;
      font-weight: 300;
      opacity: .85;
    }
  }
}

.feature-actions{
  margin: 60px 0;

  li.list-inline-item{
    margin: 0 24px;

    span{
      display: block;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .btn{
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    border: 2px solid #FFF;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    color: #FFF;

    &, svg{
      transition: all .27s ease-in-out;
    }

    &:hover{
      background-color: rgba($color: #FFF, $alpha: 0.15);
      box-shadow: 0 0 16px rgba(0,0,0,0.5);
      svg{
        width: 34px;
        height: 34px;
      }
    }
  }
}