#navbar{
  background-color: rgba($color: #000000, $alpha: 0.05);

  .navbar-brand{
    font-weight: 600;
    span{
      margin-right: 5px;
    }
  }

  .nav-item{
    padding: 0.25rem !important;
  }
}