#navbar{
  background-color: rgba($color: #000000, $alpha: 0.05);

  .navbar-brand{
    font-weight: 600;
    span{
      margin-right: 5px;
    }
  }

  .nav-item .btn{
    margin: 0.25rem !important;

    &.btn-link{
      color: #FFF;
    }
  }


  .profile-popover-card{
    margin: 8px 2px;
    .avatar{
      max-width: 64px;
      max-height: 64px;
    }
  }

  .popover{

    .actions{
      margin-top: $popover-header-padding-y * 1.5;
      margin-left: -$popover-header-padding-x;
      margin-right: -$popover-header-padding-x;
      margin-bottom: -$popover-header-padding-y;
      padding: $popover-header-padding-y;
      background: #f5f5f5;
      border-top: 1px solid #ccc;
      border-color: rgba(0,0,0,.2);
      &::after {
        display: block;
        clear: both;
        content: "";
      }
    }
  }

  #nav-item-lang {
    #lang-switch{
      margin: 0.15rem !important;
      padding: 0.375rem 0.5rem;
    }
    .popover{
      background: transparent;
    }
    .popover-body{
      padding: 0;
      background: transparent;
    }
    .list-group-item{
      margin-bottom: 0;
      padding: 0.35rem 0.5rem;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      &:focus {
        outline: none;
      }
    }
    .list-group-item:first-child {
      border-top-left-radius: 0.1rem;
      border-top-right-radius: 0.1rem;
    }
    .list-group-item:last-child{
      border-bottom: none;
      border-bottom-right-radius: 0.1rem;
      border-bottom-left-radius: 0.1rem;
    }
  }
}