form.session{
  padding: 20px 15px;
}

.oauth-actions{
  margin: 45px 15px 0;
  text-align: center;
  border-top: 1px solid #CCC;

  h6{
    display: inline-block;
    margin-bottom: 10px;
    color: #666;
    background: #FFF;
    clear: left;
    transform: translateY(-65%);
    padding: 0 5px;
  }

  .btn{
    padding: 0.375rem 1rem;
    text-align: center;
    color: #666;
    text-decoration: none;
    font-size: 14px;

    &:hover{
      color: #000;
    }

    span{
      display: block;
    }
  }
}

.oauth-signin{
  height: 100vh;
  min-width: 960px;
  min-height: 540px;
  position: relative;
  background: #000;

  .loading{
    width: 8rem;
    height: 8rem;
    // margin: 15px auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);

    .icon{
      width: 90%;
      height: 90%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba($color: #FFF, $alpha: 0.85)
    }
    .spinner{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      color: rgba($color: #FFF, $alpha: 0.25)
    }
  }
}

.modal-oauth{
  .oauth-actions{
    margin-top: 25px;
    border: none;
  }
}