.svg-whiteboard .textarea-layout {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.svg-whiteboard .textarea-layout > * {
  position: absolute;
  pointer-events: auto;
}
.svg-whiteboard .textarea-shadow {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;
}
.svg-whiteboard .textarea-shadow > * {
  position: absolute;
}
.svg-whiteboard .textarea-shadow > span {
  padding: 3px;
  border: 1px dashed dodgerblue;
}
.svg-whiteboard .textarea-shadow > textarea,
.svg-whiteboard .textarea-layout > div.textarea-wrapper > textarea {
  -webkit-appearance: none;
  padding: 0;
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.7);
}
.svg-whiteboard .tag-boxes-fixed {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.svg-whiteboard .tag-boxes-fixed > * {
  position: absolute;
}
.svg-whiteboard .tag-boxes-shadow {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;
}
.svg-whiteboard .tag-boxes-shadow > * {
  position: absolute;
}
.svg-background {
  width: 100%;
  height: 100%;
}
.svg-whiteboard {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}
.svg-whiteboard .svg-background {
  width: 100%;
  height: 100%;
}
.svg-whiteboard .svg-background svg {
  width: 100%;
  height: 100%;
}
.whiteboard-hand {
  cursor: url("https://sdk.herewhite.com/resource/mouse-cursor/hand-cursor.svg") 0 0, auto;
  cursor: -webkit-image-set(url("https://sdk.herewhite.com/resource/mouse-cursor/hand-cursor.svg") 1x, url("https://sdk.herewhite.com/resource/mouse-cursor/hand-cursor%402x.png") 2x) 0 0, auto;
}
.whiteboard-hand {
  cursor: url("https://sdk.herewhite.com/resource/mouse-cursor/hand-cursor.svg") 0 0, auto;
  cursor: -webkit-image-set(url("https://sdk.herewhite.com/resource/mouse-cursor/hand-cursor.svg") 1x, url("https://sdk.herewhite.com/resource/mouse-cursor/hand-cursor%402x.png") 2x) 0 0, auto;
}
.whiteboard-selector {
  cursor: url("https://sdk.herewhite.com/resource/mouse-cursor/selector-cursor.png") 5 4, auto;
  cursor: -webkit-image-set(url("https://sdk.herewhite.com/resource/mouse-cursor/selector-cursor.png") 1x, url("https://sdk.herewhite.com/resource/mouse-cursor/selector-cursor%402x.png") 2x) 5 4, auto;
}
.whiteboard-pencil {
  cursor: url("https://sdk.herewhite.com/resource/mouse-cursor/pencil-cursor.png") 2 22, auto;
  cursor: -webkit-image-set(url("https://sdk.herewhite.com/resource/mouse-cursor/pencil-cursor.png") 1x, url("https://sdk.herewhite.com/resource/mouse-cursor/pencil-cursor%402x.png") 2x) 2 22, auto;
}
.whiteboard-eraser {
  cursor: url("https://sdk.herewhite.com/resource/mouse-cursor/easer-cursor.png") 8 18, auto;
  cursor: -webkit-image-set(url("https://sdk.herewhite.com/resource/mouse-cursor/easer-cursor.png") 1x, url("https://sdk.herewhite.com/resource/mouse-cursor/easer-cursor%402x.png") 2x) 8 18, auto;
}
.whiteboard-rectangle {
  cursor: crosshair;
}
.whiteboard-ellipse {
  cursor: crosshair;
}
.whiteboard-text {
  cursor: text;
}
.svg-whiteboard .tag-boxes-fixed > div.highlight-box {
  border: 1px solid;
  box-shadow: 0 0 1px 0 #FFFFFF, inset 0 0 1px 0 #FFFFFF;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > *.cursor-nwse,
.svg-whiteboard .tag-boxes-fixed > div.editor-box-mask.cursor-nwse {
  cursor: nwse-resize;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > *.cursor-nesw,
.svg-whiteboard .tag-boxes-fixed > div.editor-box-mask.cursor-nesw {
  cursor: nesw-resize;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > *.cursor-ns,
.svg-whiteboard .tag-boxes-fixed > div.editor-box-mask.cursor-ns {
  cursor: ns-resize;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > *.cursor-ew,
.svg-whiteboard .tag-boxes-fixed > div.editor-box-mask.cursor-ew {
  cursor: ew-resize;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box {
  pointer-events: none;
  border: 1px solid;
  box-shadow: 0 0 1px 0 #FFFFFF, inset 0 0 1px 0 #FFFFFF;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > div.operation-point-desktop {
  width: 7px;
  height: 7px;
  position: absolute;
  pointer-events: auto;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > div.operation-point-touch {
  width: 33px;
  height: 33px;
  position: absolute;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > div.operation-point-touch > * {
  pointer-events: none;
  width: 7px;
  height: 7px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.left-top {
  left: -4px;
  top: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.right-top {
  right: -4px;
  top: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.left-bottom {
  left: -4px;
  bottom: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.right-bottom {
  right: -4px;
  bottom: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.top {
  top: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.right {
  right: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.bottom {
  bottom: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-desktop.left {
  left: -4px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.left-top {
  left: -17px;
  top: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.right-top {
  right: -17px;
  top: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.left-bottom {
  left: -17px;
  bottom: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.right-bottom {
  right: -17px;
  bottom: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.top {
  top: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.right {
  right: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.bottom {
  bottom: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box > .operation-point-touch.left {
  left: -17px;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box-mask {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.svg-whiteboard .tag-boxes-fixed > div.editor-box-others {
  border: 1px solid;
}
.svg-whiteboard .tag-boxes-fixed > div.selected-group {
  border: 1px solid;
  box-shadow: 0 0 1px 0 #FFFFFF, inset 0 0 1px 0 #FFFFFF;
}
.svg-whiteboard .tag-boxes-fixed > div.textarea-box {
  border: 1px dashed;
}

// --------------------------------------------------------------------

// fixed
.svg-whiteboard.crosshair {
  cursor: crosshair;
}
.svg-whiteboard.text {
  cursor: text;
}

// --------------------------------------------------------------------

#whiteboard{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: #FFF;

  &.active{ z-index: 999; }
}

#whiteboard-main{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.toolbar{
  width: 50px;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 2;
  transform: translateY(-60%);
  border-radius: 5px;
  text-align: center;
  background: rgba($color: #FFF, $alpha: 0.85);
  box-shadow: 0 0 0.5rem 0.1rem rgba($color: #FFF, $alpha: 0.25);

  &:hover{
    background: #f0f5f8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
  }

  li > .btn{
    display: block;
    width: 40px;
    height: 40px;
    margin: 3px 0;
    border-radius: 50%;
    color: rgb(133, 139, 144);
    text-align: center;
    background: transparent;

    &:hover, &.active{
      color: #000;
      background-color: rgba($color: #000, $alpha: 0.05);
    }
  }
}

#whiteboard-stroke{
  > span{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba($color: #000, $alpha: 0.15);
    position: relative;

    > span{
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#whiteboard-stroke-settings {
  .popover{
    width: 195px;
  }

  .popover-body{
    padding: 0.75rem 0.75rem;
    h6{
      font-size: 12px;
      font-weight: 300;
    }

    .option-width{
      position: relative;
      height: 32px;
      svg{
        position: absolute;
        z-index: 1;
      }

      .stroke-width-range{
        position: absolute;
        z-index: 2;
        top: -3px;
      }
    }

    .option-colors{
      margin-bottom: 15px;

      .btn{
        width: 20px;
        height: 20px;
        margin: 4px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid rgba($color: #000, $alpha: 0.15);
        &.active{
          box-shadow: 0 0 3px 2px rgba($color: #409EFF, $alpha: 0.75);
        }
      }
    }
  }
}

// stroke-width-range

$stroke-range-track-width:          100% !default;
$stroke-range-track-height:         .5rem !default;
$stroke-range-track-cursor:         pointer !default;
$stroke-range-track-bg:             transparent !default;
$stroke-range-track-border-radius:  .5rem !default;
$stroke-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1) !default;

$stroke-range-thumb-width:                   .7rem !default;
$stroke-range-thumb-height:                  2rem !default;
$stroke-range-thumb-bg:                      #FFF !default;
$stroke-range-thumb-border:                  1px solid #CCC !default;
$stroke-range-thumb-border-radius:           3px !default;
$stroke-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .5) !default;
$stroke-range-thumb-focus-box-shadow:        0 .1rem .25rem rgba($black, .5) !default;
$stroke-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in IE/Edge
$stroke-range-thumb-active-bg:               #FFF !default;
$stroke-range-thumb-disabled-bg:             $gray-500 !default;

.stroke-width-range {
  width: 100%;
  height: calc(#{$stroke-range-thumb-height} + #{$stroke-range-thumb-focus-box-shadow-width * 2});
  padding: 0; // Need to reset padding
  background-color: transparent;
  appearance: none;

  &:focus {
    outline: none;

    // Pseudo-elements must be split across multiple rulesets to have an effect.
    // No box-shadow() mixin for focus accessibility.
    &::-webkit-slider-thumb { box-shadow: $stroke-range-thumb-focus-box-shadow; }
    &::-moz-range-thumb     { box-shadow: $stroke-range-thumb-focus-box-shadow; }
    &::-ms-thumb            { box-shadow: $stroke-range-thumb-focus-box-shadow; }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-thumb {
    width: $stroke-range-thumb-width;
    height: $stroke-range-thumb-height;
    margin-top: ($stroke-range-track-height - $stroke-range-thumb-height) / 2; // Webkit specific
    @include gradient-bg($stroke-range-thumb-bg);
    border: $stroke-range-thumb-border;
    @include border-radius($stroke-range-thumb-border-radius);
    @include box-shadow($stroke-range-thumb-box-shadow);
    @include transition($custom-forms-transition);
    appearance: none;

    &:active {
      @include gradient-bg($stroke-range-thumb-active-bg);
    }
  }

  &::-webkit-slider-runnable-track {
    width: $stroke-range-track-width;
    height: $stroke-range-track-height;
    color: transparent; // Why?
    cursor: $stroke-range-track-cursor;
    background-color: $stroke-range-track-bg;
    border-color: transparent;
    @include border-radius($stroke-range-track-border-radius);
    @include box-shadow($stroke-range-track-box-shadow);
  }

  &::-moz-range-thumb {
    width: $stroke-range-thumb-width;
    height: $stroke-range-thumb-height;
    @include gradient-bg($stroke-range-thumb-bg);
    border: $stroke-range-thumb-border;
    @include border-radius($stroke-range-thumb-border-radius);
    @include box-shadow($stroke-range-thumb-box-shadow);
    @include transition($custom-forms-transition);
    appearance: none;

    &:active {
      @include gradient-bg($stroke-range-thumb-active-bg);
    }
  }

  &::-moz-range-track {
    width: $stroke-range-track-width;
    height: $stroke-range-track-height;
    color: transparent;
    cursor: $stroke-range-track-cursor;
    background-color: $stroke-range-track-bg;
    border-color: transparent; // Firefox specific?
    @include border-radius($stroke-range-track-border-radius);
    @include box-shadow($stroke-range-track-box-shadow);
  }

  &::-ms-thumb {
    width: $stroke-range-thumb-width;
    height: $stroke-range-thumb-height;
    margin-top: 0; // Edge specific
    margin-right: $stroke-range-thumb-focus-box-shadow-width; // Workaround that overflowed box-shadow is hidden.
    margin-left: $stroke-range-thumb-focus-box-shadow-width;  // Workaround that overflowed box-shadow is hidden.
    @include gradient-bg($stroke-range-thumb-bg);
    border: $stroke-range-thumb-border;
    @include border-radius($stroke-range-thumb-border-radius);
    @include box-shadow($stroke-range-thumb-box-shadow);
    @include transition($custom-forms-transition);
    appearance: none;

    &:active {
      @include gradient-bg($stroke-range-thumb-active-bg);
    }
  }

  &::-ms-track {
    width: $stroke-range-track-width;
    height: $stroke-range-track-height;
    color: transparent;
    cursor: $stroke-range-track-cursor;
    background-color: transparent;
    border-color: transparent;
    border-width: $stroke-range-thumb-height / 2;
    @include box-shadow($stroke-range-track-box-shadow);
  }

  &::-ms-fill-lower {
    background-color: $stroke-range-track-bg;
    @include border-radius($stroke-range-track-border-radius);
  }

  &::-ms-fill-upper {
    margin-right: 15px; // arbitrary?
    background-color: $stroke-range-track-bg;
    @include border-radius($stroke-range-track-border-radius);
  }

  &:disabled {
    &::-webkit-slider-thumb {
      background-color: $stroke-range-thumb-disabled-bg;
    }

    &::-webkit-slider-runnable-track {
      cursor: default;
    }

    &::-moz-range-thumb {
      background-color: $stroke-range-thumb-disabled-bg;
    }

    &::-moz-range-track {
      cursor: default;
    }

    &::-ms-thumb {
      background-color: $stroke-range-thumb-disabled-bg;
    }
  }
}